/* General style rules for fonts and colors*/
body {
	background-color: #fbe6d7;
	color: rgb(40, 40, 40);
	font-family: 'EB Garamond', serif;
	font-size: 17px; 
	font-weight: lighter;
}

h1, h2 {
	font-family: 'Oswald', sans-serif;
}

h1 {
	color: #efb287;
	font-weight: 600;
	font-size: 60px;
	letter-spacing: 10px;
}

@media (max-width: 540px) {
	h1 {
		font-size: 40px;
	}
}

h2 {
	color:#eac2a5;
	font-weight: lighter;
	font-weight: 400;
	font-size: 24px;
}

a {
	font-family: 'Oswald', sans-serif;
	text-decoration: none;
	color: #efb287;
	font-weight: bold;
	font-weight: 600;
	font-size: 16px;
}

a:hover {
	color: #d6986d;
}


/*Custom design with class*/
.container {
	background: #fff9f5;
	width: 900px;
	margin: 40px auto;
}

@media (max-width: 960px) {     /*media is for a responsive design*/

	.container{
		width: 700px;
	}
}

@media (max-width: 720px) {

	.container{
		width: 500px;
	}
}

@media (max-width: 540px) {

	.container{
		width: 300px;
	}
}

div {
	background: white;
	padding: 40px;
	margin: 50px; /* ou 20px 0px*/
	box-shadow: 0 10px 30px rgba(0,0,0,.1);
	border-radius: 5px;
	text-align: center;
}

.card-white:hover {
	box-shadow: 0 5px 10px #ffc79f;
	border-radius: 20px;
}

.btn-orange {
	background-color: #efb287;
	color: white;
	padding: 10px 15px 10px 15px;
	border-radius: 5px;
}

.btn-orange:hover {
	background-color: #d6986d;
	color: white;
}

.img-circle {
	width: 120px;
	margin: 10px;
}

.shadowed:hover {
	box-shadow: 4px 5px 10px black;
}

.height {
	height: 160px;
}

.size:hover {
	width: 140px;
	height: 190px;
}

.size1:hover {
	width: 140px;
	height: 140px;
}

.list-inline {
	list-style: none;
	padding-left: 0px;
}

.list-inline li{
	display: inline;
	padding: 10px;
}

.list-inline i{
	font-size: 50px;
}


/* Design adjustments using id*/
#logo {
	border-radius: 50%;
}

@media (max-width: 960px) {
	#logo {
		width: 175px
	}
}

@media (max-width: 720px) {
	#logo {
		width: 150px
	}
}

@media (max-width: 540px) {
	#logo {
		width: 125px
	}
}

#introduction p {
	margin-bottom: 30px;

}

